<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhonebookWinForms.Properties.Settings.PhonebookConnectionString"
            connectionString="Data Source=DESKTOP-L7B46GS;Initial Catalog=Phonebook;Persist Security Info=True;User ID=sa;Password=Itstep1115"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>